<a class="publication-card" href="<%= news_path id: publication.id  %>">
  <div class="d-flex flex-column justify-content-center mb-5">
    <% if publication.thumbnail.attached? %>
      <img src="<%= publication.thumbnail.attachment.url %>" alt="<%= publication.title %>" class="img-fluid mb-3" />
    <% else %>
      <div class="publication-thumbnail d-flex justify-content-center align-items-center bg-dark p-5 mb-3">
        <span class="dp-subtitle__large text-light"><%= publication.title %></span>
      </div>
    <% end %>

    <h2 class="dp-subtitle"><%= publication.title %></h2>

    <span class="text-secondary"><%= publication.created_at.localtime.strftime("%B %d, %Y - %H:%M") %></span>
  </div>
</a>