<%= render "layouts/navbar" %>

<main class="w-100 mw-lg mx-auto px-3 mt-5">

  <% if @news.published.nil? || @news.published == false %>
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Draft publication</h4>
      <% if current_user.present? && @news.user_id == current_user[:id] %>
        <p>This publication is considered a draft since you didn't choose to save as <strong>published</strong></p>
        <p>This page will not be available through the newsfeed, but can be accessed if someone has the link, so share at your own risk.</p>
      <% else %>
        <p>This is a draft publication. Please be nice to the author and <strong>don't share the link or ask for his permission first</strong></p>
      <% end %>
    </div>
  <% end %>

  <%= render partial: "news/card_thumbnail", locals: { publication: @news } %>

  <h1 class="dp-title text-center"><%= @news.title %></h1>

  <div class="w-100 d-flex flex-column justify-content-start">
    <% unless @news.reading_time.blank? %>
      <span class="mb-2"><span class="fw-bold">Reading time:</span> <%= @news.reading_time %></span>
    <% end %>
    <span class="mb-2"><span class="fw-bold">Published at:</span> <%= @news.created_at.localtime.strftime("%B %d, %Y - %H:%M") %></span>

    <% if current_user.present? && current_user[:id] == @news.user_id %>
      <div class="mt-3">
        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        <button type="button" class="btn btn-danger btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#article-delete-modal">Delete</button>
      </div>
    <% end %>
  </div>

  <article class="w-full mt-5">
    <%= @news.content.html_safe %>
  </article>
</main>

<% if current_user.present? && current_user[:id] == @news.user_id %>
  <%= render "deletion_confirmation_modal" %>
<% end %>